.about-area {
  padding-top: 90px;
  padding-bottom: 90px;
}

.page-section {
  overflow: hidden;
}
.custom-container {
  max-width: 1130px;
  padding: 0 15px;
  margin: auto;
}
.content-width {
  max-width: 770px;
  width: 100%;
  margin-left: auto;
}
.subtitle {
  font-size: 12px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 300;
  margin: 0;
  border: 1px solid #565656;
  padding: 9px 20px;
  border-radius: 30px;
  margin-bottom: 53px;
  display: inline-flex;
  align-items: center;
}
.subtitle i {
  margin-bottom: 1px;
  font-size: 14px;
  margin-right: 10px;
}
.section-header h1 {
  font-size: 48px;
  line-height: 60px;
  color: #fff;
  font-weight: 300;
  margin-bottom: 33px;
}
.section-header h1 span {
  /* color: var(--primary_color); */
  color: #28e98c;
}
.about-area .about-content p {
  line-height: 30px;
  max-width: 610px;
}
