<section class="about-area page-section scroll-to-page" id="about">
  <div class="custom-container">
    <div class="about-content content-width">
      <div class="section-header">
        <h4
          class="subtitle scroll-animation"
          data-animation="fade_from_bottom"
          style="opacity: 1; transform: translate(0px, 0px)"
        >
          <i class="lar la-user"></i> About
        </h4>
        <h1
          class="scroll-animation"
          data-animation="fade_from_bottom"
          style="opacity: 1; transform: translate(0px, 0px)"
        >
          Every great design begin with<br />
          an even <span>better story</span>
        </h1>
      </div>
      <p
        class="scroll-animation"
        data-animation="fade_from_bottom"
        style="opacity: 1; transform: translate(0px, 0px)"
      >
        Since beginning my journey as a freelance designer nearly 4 years ago,
        I've done remote work for agencies, consulted for startups, and
        collaborated with talented people to create digital products for both
        business and consumer use. I'm quietly confident, naturally curious, and
        perpetually working on improving my chopsone design problem at a time.
      </p>
    </div>
  </div>
</section>
