<section class="hero-section page-section scroll-to-page" id="home">
  <div class="custom-container">
    <div class="hero-content content-width">
      <div class="section-header">
        <h4
          class="subtitle scroll-animation"
          data-animation="fade_from_bottom"
          style="opacity: 1; transform: translate(0px, 0px)"
        >
          <i class="las la-home"></i> Introduce
        </h4>
        <h1
          class="scroll-animation"
          data-animation="fade_from_bottom"
          style="opacity: 1; transform: translate(0px, 0px)"
        >
          Say Hi from <span>Yaseen</span>, Framer Designer and Developer
        </h1>
      </div>
      <p
        class="scroll-animation"
        data-animation="fade_from_bottom"
        style="opacity: 1; transform: translate(0px, 0px)"
      >
        I design and code beautifully simple things and i love what i do. Just
        simple like that!
      </p>
      <a
        href="#portfolio"
        class="go-to-project-btn scroll-to scroll-animation"
        data-animation="rotate_up"
        style="opacity: 1; transform: translate(0px, 0px)"
      >
        <img
          src="../../../../assets/images/round-text.png"
          alt="Rounded text"
        />
        <i class="las la-arrow-down"></i>
      </a>

      <div class="facts d-flex">
        <div
          class="left scroll-animation"
          data-animation="fade_from_left"
          style="opacity: 1; transform: translate(0px, 0px)"
        >
          <h1>3+</h1>
          <p>Years of <br />Experience</p>
        </div>
        <div
          class="right scroll-animation"
          data-animation="fade_from_right"
          style="opacity: 1; transform: translate(0px, 0px)"
        >
          <h1>62+</h1>
          <p>projects completed on <br />15 countries</p>
        </div>
      </div>
    </div>
  </div>
</section>
