.hero-section {
  padding: 68px 0;
  position: relative;
  overflow: hidden;
}
.custom-container {
  max-width: 1130px;
  padding: 0 15px;
  margin: auto;
}
.hero-section .hero-content {
  position: relative;
  z-index: 3;
}
.content-width {
  max-width: 785px;
  width: 100%;
  margin-left: auto;
}
.subtitle {
  font-size: 12px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 300;
  margin: 0;
  border: 1px solid #565656;
  padding: 9px 20px;
  border-radius: 30px;
  margin-bottom: 53px;
  display: inline-flex;
  align-items: center;
}
.subtitle i {
  margin-bottom: 1px;
  font-size: 14px;
  margin-right: 10px;
}
.hero-section .hero-content h1 {
  font-size: 78px;
  letter-spacing: -0.2px;
  line-height: 90px;
  margin-bottom: 43px;
  font-weight: 300;
  color: #fff;
}
.hero-section .hero-content h1 span {
  /* color: var(--primary_color); */
  color: #28e98c;
}
.hero-section .hero-content > p {
  max-width: 480px;
  margin-bottom: 31px;
  line-height: 1.7;
}
.hero-section .hero-content .go-to-project-btn {
  width: 175px;
  height: 175px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  border-radius: 50%;
  border: 1px solid #575757;
  position: relative;
  overflow: hidden;
  margin-right: 15px;
}
.hero-section .hero-content .go-to-project-btn img {
  display: block;
  animation: rotating 6s infinite linear;
}
img {
  max-width: 100%;
}
.hero-section .hero-content .go-to-project-btn i {
  position: absolute;
  color: #fff;
  font-size: 40px;
  display: block;
}
@keyframes rotating {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
