/* You can add global styles to this file, and also import other style files */
/* Black */
@font-face {
  font-family: "Inter";
  src: url("assets/Fonts/Inter/Inter-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

/* Bold */
@font-face {
  font-family: "Inter";
  src: url("assets/Fonts/Inter/Inter-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

/* ExtraBold */
@font-face {
  font-family: "Inter";
  src: url("assets/Fonts/Inter/Inter-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

/* ExtraLight */
@font-face {
  font-family: "Inter";
  src: url("assets/Fonts/Inter/Inter-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

/* Light */
@font-face {
  font-family: "Inter";
  src: url("assets/Fonts/Inter/Inter-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

/* Medium */
@font-face {
  font-family: "Inter";
  src: url("assets/Fonts/Inter/Inter-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

/* Regular */
@font-face {
  font-family: "Inter";
  src: url("assets/Fonts/Inter/Inter-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* SemiBold */
@font-face {
  font-family: "Inter";
  src: url("assets/Fonts/Inter/Inter-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

/* Thin */
@font-face {
  font-family: "Inter";
  src: url("assets/Fonts/Inter/Inter-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

body {
  font-family: Inter;
  font-size: 16px;
  color: #999999;
  background-color: black;
  margin: 0px;
}
.align-items-center {
  align-items: center !important;
}
.justify-content-between {
  justify-content: space-between !important;
}

.d-flex {
  display: flex !important;
}
.align-items-center {
  align-items: center !important;
}
.justify-content-center {
  justify-content: center !important;
}

.flex-wrap {
  flex-wrap: wrap !important;
}
.d-flex {
  display: flex !important;
}
:-webkit-any(article, aside, nav, section) h1 {
  font-size: 1.5em;
  margin-block-start: 0;
  margin-block-end: 0;
}
